streamlit
holoviews
xarray
rioxarray
colour==0.1.5
dill==0.3.4
h5py
keras==2.8.0
Keras-Preprocessing==1.1.2
libclang==13.0.0
Markdown==3.3.6
matplotlib
numpy
pandas
tensorflow
scipy
openpyxl
fiona
bokeh==2.4.1